/** @format */

.counter {
	height: 130vh;
	width: 100%;
}

.counter .container {
	padding: 3rem;
}

.counter .container h2 {
	text-align: center;
}

.counter .container .bar {
	width: 80px;
	border-bottom: 6px solid var(--primary);
	border-radius: 5px;
	/* margin-bottom: 1rem; */
}

.counter .container p {
	color: #000;
	/* text-align: justify; */
}

@media screen and (max-width: 768px) {
	.counter {
		height: 320vh;
	}
	.counter .container h2 {
		text-align: center;
		font-size: 25px;
	}

	/* .counter .timeline__event__date{
		width: 200px;
	} */
}
